@import "tailwindcss";

* {
  /* outline: 1px solid red; */
}

.animate-page-slide-down {
    animation: pageSlideDown 500ms ease-in-out forwards;
}

.animate-page-slide-from-top {
    animation: pageSlideFromTop 500ms ease-in-out forwards;
}


@layer utilities {
  @keyframes pageSlideDown {
    from {
      transform: translateY(0);
    }

    to {
      transform: translateY(300%);
    }
  }

  @keyframes pageSlideFromTop {
    from {
        transform: translateY(-300%);
    }

    to {
        transform: translateY(0);
    }
  }
}
